<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers-signed" version="0.3.0" targetFramework="net46" />
  <package id="DotNetty.Codecs.Mqtt-signed" version="0.3.0" targetFramework="net46" />
  <package id="DotNetty.Codecs-signed" version="0.3.0" targetFramework="net46" />
  <package id="DotNetty.Common-signed" version="0.3.0" targetFramework="net46" />
  <package id="DotNetty.Handlers-signed" version="0.3.0" targetFramework="net46" />
  <package id="DotNetty.Transport-signed" version="0.3.0" targetFramework="net46" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Amqp" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices.Client" version="1.0.11" targetFramework="net46" />
  <package id="Microsoft.Devices.Tpm" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.TSS" version="1.0.3" targetFramework="net46" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="net46" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net46" />
</packages>