@font-face {
    font-family: WebManagementSymbols;
    src: url(../fonts/IOTMDL2.1.8.woff);
}

.row {
	margin: 0px;
}
#title-row {
	background-color: rgb(36, 117, 181);
	color: white;
	height: 150px;
}
#title-col {
	
	margin-top:40px;
}

#title {
	font-size: 30px;
}
#subtitle {
	font-size: 12px;
}
.client-row {
	margin-top: 40px;
}
.info-row{
	margin-top: 20px;
}
.info-symbol {
    font-size: 15px;
}
.messaging-col {
	margin-top: 20px;
}
#start-list {
    display:none;
}
#log {
	height: 250px;
	overflow-y: scroll;
	background-color: #EFEFEF;
}
#button-row {
	margin-top: 10px;
}
.button-col {
	float:right;
	padding-left: 5px;
	padding-right: 5px;
}
.msg-btn-wrapper {
	background-color: lightgray;
	height: 30px;
	text-align: center;
	padding-top: 5px;
}
a.msg-btn {
	text-decoration: none;
	color: black;
}
input[type=radio] {
    display:none; 
    margin:10px;
}
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 10px 12px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #e7e7e7;
    border-color: #ddd;
    text-align: center;
}
input[type=radio]:checked + label { 
   background-image: none;
    background-color:#d0d0d0;
    border: 2px solid black;
}
input[type=submit] {
	background-color: rgb(36, 117, 181);
	color: white;
}
.symbol {
    font-family: WebManagementSymbols;
}
#azurelogo {
    font-size: 80px;
    position:absolute;
    top:25px;
    margin-left: 30px;
}
