  <?xml version="1.0" encoding="utf-8" ?> 
- <DigitalSignageConfig>
- <!-- audio does not require duration attribute. It will be played back in a loop end to end
  --> 
- <Audio>
  <file path="http://iot-digisign01/ds/Fhol.wav" /> 
  <file path="http://iot-digisign01/ds/midnightvoyage_48k_320.mp3" /> 
  </Audio>
- <Display>
- <!-- Video does not require duration attribute. It will be played back in a loop end to end
  --> 
- <!-- <file path="http://iot-digisign01/ds/grb.mpg"/>
  --> 
  <file path="http://iot-digisign01/ds/BlackBerry.mp4" /> 
  <file path="http://iot-digisign01/ds/IoTVision.wmv" /> 
- <!-- image and webpage do require duration attribute so we know how long to show them
  --> 
  <file path="http://iot-digisign01/ds/mad_men_poster.jpg" duration="30" /> 
  <file path="http://iot-digisign01/ds/mandelbrot.png" duration="30" /> 
  <file path="http://iot-digisign01/ds/MARBLES.BMP" duration="30" /> 
- <!-- Webpage requires a special attribute type and its value to be webpage
  --> 
- <!-- webpage URLs have to be XML escaped, e.g. below URL, & is replaced to &amp;. Not including the dot.Otherwise it will be considered as malformatted XML
  -->
  </Display>
  </DigitalSignageConfig>
