<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  IgnorableNamespaces="uap mp iot">

  <Identity Name="7b83db33-29a8-428a-81eb-2fa7aa970a2b" Publisher="CN=Microsoft" Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7b83db33-29a8-428a-81eb-2fa7aa970a2b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NodeJsBlinky</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>

    <Applications>
        <Application Id="App">
            <uap:VisualElements
              DisplayName="nodeuwp"
              Square150x150Logo="Assets\Logo.png"
              Square44x44Logo="Assets\SmallLogo.png"
              Description="nodeuwp"
              BackgroundColor="#464646"
              AppListEntry="none">
                <uap:SplashScreen Image="Assets\SplashScreen.png" />
            </uap:VisualElements>
            <Extensions>
                <Extension Category="windows.backgroundTasks" EntryPoint="nodeuwp.StartupTask">
                    <BackgroundTasks>
                        <iot:Task Type="startup" />
                    </BackgroundTasks>
                </Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
        <Capability Name="internetClientServer" />
        <Capability Name="privateNetworkClientServer" />
    </Capabilities>

    <Extensions>
        <Extension Category="windows.activatableClass.inProcessServer">
            <InProcessServer>
                <Path>nodeuwp.dll</Path>
                <ActivatableClass ActivatableClassId="nodeuwp.StartupTask" ThreadingModel="MTA" />
            </InProcessServer>
        </Extension>
    </Extensions>
</Package>