<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uwp="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  IgnorableNamespaces="uwp mp iot">

  <Identity
	  Name="PythonAccelerometer"
	  Publisher="CN=Microsoft"
	  Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7a00156d-b219-4b13-9ff9-a3d30fa26ca9" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PythonAccelerometer</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App">
      <uwp:VisualElements
			  DisplayName="PythonAccelerometer"
			  Square150x150Logo="Logo.png"
			  Square44x44Logo="SmallLogo.png"
			  Description="PythonAccelerometer"
			  BackgroundColor="#464646"
        AppListEntry="none">
        <uwp:SplashScreen Image="SplashScreen.png" />
      </uwp:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="pyuwpbackgroundservice.StartupTask">
          <BackgroundTasks>
            <iot:Task Type="startup"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <iot:Capability Name="lowLevelDevices" />
    <DeviceCapability Name="109b86ad-f53d-4b76-aa5f-821e2ddf2141"/>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>pyuwpbackgroundservice.dll</Path>
        <ActivatableClass ActivatableClassId="pyuwpbackgroundservice.StartupTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.IoT.Lightning.Providers.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.IoT.Lightning.Providers.LightningProvider" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.IoT.Lightning.Providers.LightningGpioProvider" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.IoT.Lightning.Providers.LightningI2cProvider" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.IoT.Lightning.Providers.Dummy" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.IoT.Lightning.Providers.LightningSpiProvider" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>